.card{
    background-color: #e7e7e7 ;
    height: 300px;
    width: 200px;
    border-radius: 10px;
}
.ProductName{
    color:#DB4444;
    font-family: sans-serif;
    font-weight: bold;
    font-size:large;
}
p{
    font-family: serif;
    font-size:large;
}
.Image{
    background-color: #d3d3d3 ;
    height: 200px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #DB4444;
    cursor: pointer;
}