.Body{
    margin-top: 60px;
    width:100vw;
    display:flex;
    margin-bottom: 100px;
}

.SignInBox{
    background-color:rgb(245, 245, 245);
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    height:560px;
    width:500px;
    display:flex;
    flex-direction:column;
    margin-top:40px;
    gap:60px;
    align-items:center;
    padding: 20px 0;
}

.SignInDetails{
    height:400px;
    width:400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transform: translateY(-80px);
}
.SignInInput{
    border: 2px solid #5b5b5b80;
    height:40px;
    width:360px;
    border-radius: 7px;
    padding:10px;
    margin-left:20px;
    margin-bottom:20px;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
}


.SignInDetails Input{
    background: transparent;
    border:transparent;
    outline:none;
    height:40px;
    width:360px;
    border-radius: 10px;
    margin-left:30px;
    font-size: 16px;
    position: absolute;
}

.SignInInput:focus-within{
   border: 2px solid #DB4444;
}

#SubmitButton:hover{
    transform:scale(1.05);
}

#SignUpLink{
    display:inline;
    font-weight:bold;
    margin-left:10px;
    color:#E07575;
    cursor:pointer;
}




