.Body{
    margin-top: 60px;
    width:100vw;
    display:flex;
    margin-bottom: 100px;
}
.SignUpBox{
    background-color:rgb(245, 245, 245);
    border-radius:20px;
}



.SignUpDetails{
    height:500px;
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transform: translateY(-80px);
}

.SignUpInput{
    border: 2px solid #5b5b5b80;
    height:40px;
    width:360px;
    border-radius: 10px;
    margin-left:20px;
    margin-bottom:20px;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.SignUpDetails Input{
   background: transparent;
    border:transparent;
    outline:none;
    height:40px;
    width:360px;
    border-radius: 10px;
    margin-left:20px;
    font-size: 16px;
    position: absolute;
}

#SubmitButton{
    background-color: #DB4444;
    color:white;
    position: relative;
    height:56px;
    width:143px;
    border-radius: 10px;
}

.SignUpInput:focus-within{
   border: 3px solid #DB4444;
}